:root {
  /* Background Color */
  --background-color: #040200;

  /*Accent Color*/
  --accent-color: #27170d;

  /*Highlight Color*/
  --highlight-color: #653815;

  /*Header-Color*/
  --header-color: #bd6707;

  /*Text Color*/
  --text-color: #e28612;
}

body {
  background-color: var(--background-color)
}

/*<weight>: Use a value from 300 to 700
//<uniquifier>: Use a unique and descriptive class name*/

p {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  padding: 10px;
}

.cinzel {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--accent-color);
  color: var(--header-color);
  border-color: var(--text-color);
  border-radius: 10px;

}

h1 {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}

.elden {
  display: block;
  margin: 0 auto;
}