
body{
    background-color: #2c5aa0;
}

h1{
    text-align:center;
    background-color: #8b9cb7;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
/* individual card styling */
section {
    background-color:#8b9cb7;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transfrom 0.3s ease, box-shadow 0.3 ease;
}

section:hover {
transform: translateY(-5px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

/* prophet name styling*/
section h2{
    color: #2c5aa0;
    font-size: 1.4rem;
    margin-bottom: 10px;
    font-weight: bold;
}

/* prophet image styling */
section img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}


/* Birth info CSS*/
section p{
    font-size: 0.9rem;
    margin: 10px 0;
    text-align: left;
    color: #555;  
}

section p strong {
    color: #2c5aa0;
}
/*-------------------*/

footer{
    color: white;
}